$color_pale_slate_approx: #c3c3c3;
$white: white;
$black: black;
$gray:  gray;
$color_alabaster_approx: #f9f9f9;
$black_20: rgba(0, 0, 0, 0.2);
$color_sail_approx: #b2e7fa;
$red: red;
$color_cerulean_approx: deepskyblue;
$color_shady_lady_approx: darkgray;
$color_quill_gray_approx: lightgray;
$color_san_marino_approx: #49659f;
$color_danube_approx: #63a3d2;
$color_antique_bronze_approx: #704500;
$color_alizarin_crimson_approx: #e62117;
$color_seagull_approx: skyblue;

$font_0: Iskoola Pota;

footer {
	background-color: $color_pale_slate_approx;
	padding: 25px;
	width: 100%;
	h4 {
		text-align: left;
		font-weight: bold;
	}
	p {
		font-size: 12px;
		text-align: left;
	}
	h2 {
		float: left;
		font-weight: bold;
	}
}
td {
	text-align: left;
	font-size: 12px;
}
.navbar {
	margin-bottom: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}
.navbar-toggle {
	float: left;
}
.navbar-right {
	color: $white;
	padding-top: 15px;
	div {
		padding-right: 20px;
	}
}
.navbar-nav {
	color: $white;
}
hr {
	color: $black;
	border: solid 1px $gray;
}
h1 {
	padding-top: 15px;
	font-size: 40px;
	font-weight: bolder;
}
.filter {
	float: left;
	padding-left: 15px;
}
.clear {
	clear: both;
}
.product {
	padding-top: 25px;
	clear: both;
}
.ads {
	padding-top: 3px;
	clear: both;
}
.paging {
	float: right;
}
input[type='text'] {
	color: $black;
	font-style: italic;
}
.font-awe {
	font-size: 30px;
	text-align: left;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: $color_alabaster_approx;
	min-width: 160px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 8px 16px 0 $black_20;
}
.cart {
	font-size: 15px;
}
.img-responsive {
	height: 350px;
}
.fa-chevron-right {
	padding-right: 10px;
}
.bag {
	color: $white;
	font-size: 15px;
	&:hover {
		color: $color_sail_approx;
	}
}
.img-footer {
	clear: both;
	float: left;
	width: 300px;
	height: 50px;
	padding-left: 0;
}
.total-price {
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
}
.fa-search {
	color: $white;
	font-size: 20px;
}
.ico-home {
	font-size: 20px;
}
#table {
	text-align: center;
	padding-left: 0;
	td {
		padding-bottom: 5px;
		border: 2px solid $gray;
		text-align: center;
		padding-top: 1px;
	}
	th {
		border: 2px solid $gray;
		text-align: center;
		background-color: $color_pale_slate_approx;
	}
}
.col-md-4 {
	padding: 5px;
	> p {
		text-align: justify;
	}
}
.col-md-8 {
	padding: 5px;
}
.col-md-12 {
	padding: 5px;
}
.logo {
	width: 300px;
	height: 80px;
}
.fa-icon {
	width: 30px;
	height: 30px;
}
.your-cart {
	margin-left: 15px;
}
.col-md-5 {
	.infor-user {
		border: 2px solid $gray;
		padding-right: 10px;
		padding-left: 10px;
	}
	h5 {
		font-weight: bold;
		font-size: 18px;
		padding-top: 50px;
	}
	.regist {
		text-align: left;
		font-size: 13px;
	}
}
.form-control {
	font-size: 13px;
}
.confirm {
	text-align: left;
	font-weight: normal;
}
.btn {
	background-color: $color_pale_slate_approx;
	color: $gray;
	font-weight: bold;
	margin-bottom: 50px;
	float: right;
	margin-right: 10px;
	&:hover {
		background-color: $red;
		color: $white;
		font-weight: bold;
	}
}
.navbar-form {
	display: none;
}
.ico-cart {
	color: $white;
	padding-bottom: 3px;
	text-align: left;
	font-size: 20px;
	padding-right: 10px;
	padding-top: 3px;
}
.pro-detail {
	text-align: left;
	color: $color_cerulean_approx;
	font-size: 25px;
}
.img-content {
	margin-left: 100px;
}
.detail-content {
	text-align: left;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.num-cart {
	margin-left: 2px;
}
.detail-content-div {
	float: right;
}
.large-img-div {
	padding-top: 0 !important;
}
.name-detail {
	color: $color_shady_lady_approx;
	font-size: 40px;
	font-weight: bold;
}
.price-detail {
	color: $color_cerulean_approx;
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
}
.price-cart {
	padding-left: 0;
}
.button-add-to-cart {
	width: 200px;
	height: 30px;
	background-color: $color_quill_gray_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none;
	color: $white;
	font-size: 28px;
	border: 0;
	padding-bottom: 45px;
	&:hover {
		background-color: $gray;
	}
}
.img-small-div {
	margin-top: 10px;
}
.line-detail {
	border-bottom: 1px solid $gray;
	width: 60%;
	padding-top: 20px;
}
.img-detail {
	height: 500px;
	width: 300px;
}
.img-small-detail {
	width: 100px;
	height: 150px;
}
.span-button {
	padding-left: 50px;
}
.text-cart {
	padding-top: 3px;
	font-size: 15px;
	padding-left: 15px;
	border-left: 1px solid $white;
}
.pro-desc {
	font-size: 18px;
	color: $black;
	padding-top: 20px;
}
.content-ship {
	font-style: oblique;
	font-size: 13px;
	text-align: justify;
}
.btn-add {
	float: left;
	text-align: center;
	font-size: 60px;
}
.img-cart {
	width: 300px;
	height: 100px;
}
@media(max-width: 1000px) {
	.img-detail {
		margin-left: 0;
		max-height: 400px;
	}
}
@media(max-width: 768px) {
	.small-img-div {
		display: none;
	}
	.hidden-small-img {
		display: none;
	}
	.large-img-div {
		margin-left: 100px;
		margin-top: 50px;
	}
}
@media(max-width: 320px) {
	.large-img-div {
		margin-left: 30px;
		margin-top: 10px;
		width: 80%;
	}
}
@media(max-width: 740px) {
	.img-detail {
		height: 100%;
	}
	.small-img-div {
		display: none;
	}
	.large-img-div {
		width: 80%;
		margin-left: 30px;
	}
	.carousel-caption {
		display: none;
	}
	.filter {
		float: inherit;
	}
	.search-hide {
		display: none;
		float: left;
	}
	.product {
		padding-top: 0;
	}
	.navbar-form {
		display: block;
	}
	.font-awe {
		text-align: center;
	}
	.table-detail {
		width: 100%;
	}
	.pro-detail-content {
		text-align: center;
	}
	.display-none {
		display: none;
	}
	.col-sm-8 p {
		display: none;
	}
	footer h4 {
		text-align: center;
	}
}
.btn-paging {
	background-color: $white;
	color: $color_seagull_approx;
	border: 1px solid $color_seagull_approx;
	font-weight: bolder;
}
.text-paging {
	color: $color_shady_lady_approx;
	font-style: italic;
	font-weight: bold;
}
.pro-detail-img img {
	width: 80%;
	height: 80%;
	margin-bottom: 50px;
	margin-top: 20px;
}
.dropdown-menu li {
	padding-top: 10px;
}
.carousel-inner img {
	width: 100%;
	margin: auto;
	min-height: 200px;
	max-height: 400px;
}
.fa-facebook-square:hover {
	color: $color_san_marino_approx;
}
.fa-twitter-square:hover {
	color: $color_danube_approx;
}
.fa-instagram:hover {
	color: $color_antique_bronze_approx;
}
.fa-youtube-square:hover {
	color: $color_alizarin_crimson_approx;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.col-sm-3 h5 {
	font-weight: bold;
}
.col-sm-4 p {
	font-family: $font_0;
	font-size: 25px;
	font-style: italic;
}
.col-sm-8 p {
	text-align: center;
	padding: 100px;
	font-size: 18px;
}
.fa-times:hover {
	color: $red;
	font-size: 15px;
	text-align: center;
}