/* line 22, E:/FinalAss_2/Version_final/my_scss/style.scss */
footer {
  background-color: #c3c3c3;
  padding: 25px;
  width: 100%; }
  /* line 26, E:/FinalAss_2/Version_final/my_scss/style.scss */
  footer h4 {
    text-align: left;
    font-weight: bold; }
  /* line 30, E:/FinalAss_2/Version_final/my_scss/style.scss */
  footer p {
    font-size: 12px;
    text-align: left; }
  /* line 34, E:/FinalAss_2/Version_final/my_scss/style.scss */
  footer h2 {
    float: left;
    font-weight: bold; }

/* line 39, E:/FinalAss_2/Version_final/my_scss/style.scss */
td {
  text-align: left;
  font-size: 12px; }

/* line 43, E:/FinalAss_2/Version_final/my_scss/style.scss */
.navbar {
  margin-bottom: 0;
  border-radius: 0; }

/* line 48, E:/FinalAss_2/Version_final/my_scss/style.scss */
.navbar-toggle {
  float: left; }

/* line 51, E:/FinalAss_2/Version_final/my_scss/style.scss */
.navbar-right {
  color: white;
  padding-top: 15px; }
  /* line 54, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .navbar-right div {
    padding-right: 20px; }

/* line 58, E:/FinalAss_2/Version_final/my_scss/style.scss */
.navbar-nav {
  color: white; }

/* line 61, E:/FinalAss_2/Version_final/my_scss/style.scss */
hr {
  color: black;
  border: solid 1px gray; }

/* line 65, E:/FinalAss_2/Version_final/my_scss/style.scss */
h1 {
  padding-top: 15px;
  font-size: 40px;
  font-weight: bolder; }

/* line 70, E:/FinalAss_2/Version_final/my_scss/style.scss */
.filter {
  float: left;
  padding-left: 15px; }

/* line 74, E:/FinalAss_2/Version_final/my_scss/style.scss */
.clear {
  clear: both; }

/* line 77, E:/FinalAss_2/Version_final/my_scss/style.scss */
.product {
  padding-top: 25px;
  clear: both; }

/* line 81, E:/FinalAss_2/Version_final/my_scss/style.scss */
.ads {
  padding-top: 3px;
  clear: both; }

/* line 85, E:/FinalAss_2/Version_final/my_scss/style.scss */
.paging {
  float: right; }

/* line 88, E:/FinalAss_2/Version_final/my_scss/style.scss */
input[type='text'] {
  color: black;
  font-style: italic; }

/* line 92, E:/FinalAss_2/Version_final/my_scss/style.scss */
.font-awe {
  font-size: 30px;
  text-align: left; }

/* line 96, E:/FinalAss_2/Version_final/my_scss/style.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

/* line 104, E:/FinalAss_2/Version_final/my_scss/style.scss */
.cart {
  font-size: 15px; }

/* line 107, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-responsive {
  height: 350px; }

/* line 110, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-chevron-right {
  padding-right: 10px; }

/* line 113, E:/FinalAss_2/Version_final/my_scss/style.scss */
.bag {
  color: white;
  font-size: 15px; }
  /* line 116, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .bag:hover {
    color: #b2e7fa; }

/* line 120, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-footer {
  clear: both;
  float: left;
  width: 300px;
  height: 50px;
  padding-left: 0; }

/* line 127, E:/FinalAss_2/Version_final/my_scss/style.scss */
.total-price {
  text-align: left;
  font-weight: bold;
  margin-top: 10px; }

/* line 132, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-search {
  color: white;
  font-size: 20px; }

/* line 136, E:/FinalAss_2/Version_final/my_scss/style.scss */
.ico-home {
  font-size: 20px; }

/* line 139, E:/FinalAss_2/Version_final/my_scss/style.scss */
#table {
  text-align: center;
  padding-left: 0; }
  /* line 142, E:/FinalAss_2/Version_final/my_scss/style.scss */
  #table td {
    padding-bottom: 5px;
    border: 2px solid gray;
    text-align: center;
    padding-top: 1px; }
  /* line 148, E:/FinalAss_2/Version_final/my_scss/style.scss */
  #table th {
    border: 2px solid gray;
    text-align: center;
    background-color: #c3c3c3; }

/* line 154, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-md-4 {
  padding: 5px; }
  /* line 156, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .col-md-4 > p {
    text-align: justify; }

/* line 160, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-md-8 {
  padding: 5px; }

/* line 163, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-md-12 {
  padding: 5px; }

/* line 166, E:/FinalAss_2/Version_final/my_scss/style.scss */
.logo {
  width: 300px;
  height: 80px; }

/* line 170, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-icon {
  width: 30px;
  height: 30px; }

/* line 174, E:/FinalAss_2/Version_final/my_scss/style.scss */
.your-cart {
  margin-left: 15px; }

/* line 178, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-md-5 .infor-user {
  border: 2px solid gray;
  padding-right: 10px;
  padding-left: 10px; }

/* line 183, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-md-5 h5 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px; }

/* line 188, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-md-5 .regist {
  text-align: left;
  font-size: 13px; }

/* line 193, E:/FinalAss_2/Version_final/my_scss/style.scss */
.form-control {
  font-size: 13px; }

/* line 196, E:/FinalAss_2/Version_final/my_scss/style.scss */
.confirm {
  text-align: left;
  font-weight: normal; }

/* line 200, E:/FinalAss_2/Version_final/my_scss/style.scss */
.btn {
  background-color: #c3c3c3;
  color: gray;
  font-weight: bold;
  margin-bottom: 50px;
  float: right;
  margin-right: 10px; }
  /* line 207, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .btn:hover {
    background-color: red;
    color: white;
    font-weight: bold; }

/* line 213, E:/FinalAss_2/Version_final/my_scss/style.scss */
.navbar-form {
  display: none; }

/* line 216, E:/FinalAss_2/Version_final/my_scss/style.scss */
.ico-cart {
  color: white;
  padding-bottom: 3px;
  text-align: left;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 3px; }

/* line 224, E:/FinalAss_2/Version_final/my_scss/style.scss */
.pro-detail {
  text-align: left;
  color: deepskyblue;
  font-size: 25px; }

/* line 229, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-content {
  margin-left: 100px; }

/* line 232, E:/FinalAss_2/Version_final/my_scss/style.scss */
.detail-content {
  text-align: left;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px; }

/* line 238, E:/FinalAss_2/Version_final/my_scss/style.scss */
.num-cart {
  margin-left: 2px; }

/* line 241, E:/FinalAss_2/Version_final/my_scss/style.scss */
.detail-content-div {
  float: right; }

/* line 244, E:/FinalAss_2/Version_final/my_scss/style.scss */
.large-img-div {
  padding-top: 0 !important; }

/* line 247, E:/FinalAss_2/Version_final/my_scss/style.scss */
.name-detail {
  color: darkgray;
  font-size: 40px;
  font-weight: bold; }

/* line 252, E:/FinalAss_2/Version_final/my_scss/style.scss */
.price-detail {
  color: deepskyblue;
  font-size: 30px;
  font-weight: bold;
  font-style: normal; }

/* line 258, E:/FinalAss_2/Version_final/my_scss/style.scss */
.price-cart {
  padding-left: 0; }

/* line 261, E:/FinalAss_2/Version_final/my_scss/style.scss */
.button-add-to-cart {
  width: 200px;
  height: 30px;
  background-color: lightgray;
  box-shadow: none;
  color: white;
  font-size: 28px;
  border: 0;
  padding-bottom: 45px; }
  /* line 271, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .button-add-to-cart:hover {
    background-color: gray; }

/* line 275, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-small-div {
  margin-top: 10px; }

/* line 278, E:/FinalAss_2/Version_final/my_scss/style.scss */
.line-detail {
  border-bottom: 1px solid gray;
  width: 60%;
  padding-top: 20px; }

/* line 283, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-detail {
  height: 500px;
  width: 300px; }

/* line 287, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-small-detail {
  width: 100px;
  height: 150px; }

/* line 291, E:/FinalAss_2/Version_final/my_scss/style.scss */
.span-button {
  padding-left: 50px; }

/* line 294, E:/FinalAss_2/Version_final/my_scss/style.scss */
.text-cart {
  padding-top: 3px;
  font-size: 15px;
  padding-left: 15px;
  border-left: 1px solid white; }

/* line 300, E:/FinalAss_2/Version_final/my_scss/style.scss */
.pro-desc {
  font-size: 18px;
  color: black;
  padding-top: 20px; }

/* line 305, E:/FinalAss_2/Version_final/my_scss/style.scss */
.content-ship {
  font-style: oblique;
  font-size: 13px;
  text-align: justify; }

/* line 310, E:/FinalAss_2/Version_final/my_scss/style.scss */
.btn-add {
  float: left;
  text-align: center;
  font-size: 60px; }

/* line 315, E:/FinalAss_2/Version_final/my_scss/style.scss */
.img-cart {
  width: 300px;
  height: 100px; }

@media (max-width: 1000px) {
  /* line 320, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .img-detail {
    margin-left: 0;
    max-height: 400px; } }

@media (max-width: 768px) {
  /* line 326, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .small-img-div {
    display: none; }
  /* line 329, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .hidden-small-img {
    display: none; }
  /* line 332, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .large-img-div {
    margin-left: 100px;
    margin-top: 50px; } }

@media (max-width: 320px) {
  /* line 338, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .large-img-div {
    margin-left: 30px;
    margin-top: 10px;
    width: 80%; } }

@media (max-width: 740px) {
  /* line 345, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .img-detail {
    height: 100%; }
  /* line 348, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .small-img-div {
    display: none; }
  /* line 351, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .large-img-div {
    width: 80%;
    margin-left: 30px; }
  /* line 355, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .carousel-caption {
    display: none; }
  /* line 358, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .filter {
    float: inherit; }
  /* line 361, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .search-hide {
    display: none;
    float: left; }
  /* line 365, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .product {
    padding-top: 0; }
  /* line 368, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .navbar-form {
    display: block; }
  /* line 371, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .font-awe {
    text-align: center; }
  /* line 374, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .table-detail {
    width: 100%; }
  /* line 377, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .pro-detail-content {
    text-align: center; }
  /* line 380, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .display-none {
    display: none; }
  /* line 383, E:/FinalAss_2/Version_final/my_scss/style.scss */
  .col-sm-8 p {
    display: none; }
  /* line 386, E:/FinalAss_2/Version_final/my_scss/style.scss */
  footer h4 {
    text-align: center; } }

/* line 390, E:/FinalAss_2/Version_final/my_scss/style.scss */
.btn-paging {
  background-color: white;
  color: skyblue;
  border: 1px solid skyblue;
  font-weight: bolder; }

/* line 396, E:/FinalAss_2/Version_final/my_scss/style.scss */
.text-paging {
  color: darkgray;
  font-style: italic;
  font-weight: bold; }

/* line 401, E:/FinalAss_2/Version_final/my_scss/style.scss */
.pro-detail-img img {
  width: 80%;
  height: 80%;
  margin-bottom: 50px;
  margin-top: 20px; }

/* line 407, E:/FinalAss_2/Version_final/my_scss/style.scss */
.dropdown-menu li {
  padding-top: 10px; }

/* line 410, E:/FinalAss_2/Version_final/my_scss/style.scss */
.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
  max-height: 400px; }

/* line 416, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-facebook-square:hover {
  color: #49659f; }

/* line 419, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-twitter-square:hover {
  color: #63a3d2; }

/* line 422, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-instagram:hover {
  color: #704500; }

/* line 425, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-youtube-square:hover {
  color: #e62117; }

/* line 428, E:/FinalAss_2/Version_final/my_scss/style.scss */
.dropdown:hover .dropdown-content {
  display: block; }

/* line 431, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-sm-3 h5 {
  font-weight: bold; }

/* line 434, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-sm-4 p {
  font-family: Iskoola Pota;
  font-size: 25px;
  font-style: italic; }

/* line 439, E:/FinalAss_2/Version_final/my_scss/style.scss */
.col-sm-8 p {
  text-align: center;
  padding: 100px;
  font-size: 18px; }

/* line 444, E:/FinalAss_2/Version_final/my_scss/style.scss */
.fa-times:hover {
  color: red;
  font-size: 15px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */