<div class="container text-center" >
    <h1>Giỏ hàng của bạn</h1>
    <br>
    <hr />
    <div class="row container">
        <div class="col-md-7 table-responsive">
            <table class="table table-striped" style="width: 100%;" id="table">
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Tiền (VND)</th>
                    <th>Bỏ ra</th>
                </tr>
                <tr ng-repeat="item in shopcart">
                    <td>{{item.code}}</td>
                    <td><a  ui-sref="detail({code: item.code})">{{item.name}}</a></td>
                    <td>
                        <select ng-model="item.quantity"  ng-init="item.quantity">
                            <option value="1" selected="selected">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td>${{item.quantity*item.price}}.00</td>
                    <td><i style="cursor: pointer" class="fa fa-times" ng-click="delProductItem(item)"></i></td>
                </tr>                        
            </table>            
            <div class="total-price">
                <p>Tổng số: {{getTotal(shopcart) || 0}}VND</p>
            </div>
        </div>
        <div class="col-md-5">
           <div class="infor-user">
               <h5>Thông tin của bạn</h5><br />
            <div class="form-horizontal regist" role="form" >
              <form name="myform">
                  <div class="form-group">
                    <label class="control-label col-md-3" for="txtFirstName">Tên:</label>
                    <div class="col-md-9">
                    <input id="firstname" ng-disabled="numcart==0" class="form-control" ng-model="user.first" type="text" placeholder="Tên" required>
                    <span id="firstname_err"></span>
                    </div>
                </div>
<!--
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtLastName">Last Name:</label>
                    <div class="col-md-9">
                        <input id="lastname" ng-disabled="numcart==0" ng-model="user.last" class="form-control" type="text" placeholder="Last Name" required>
                        <span id="lastname_err"></span>
                    </div>
                </div>
-->
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtEmail">E-mail:</label>
                    <div class="col-md-9">
                    <input id="email" ng-model="user.email" ng-disabled="numcart==0" class="form-control" type="email" placeholder="E-mail" data-type="email" required>
                        <span id="email_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtAddress">Địa chỉ:</label>
                    <div class="col-md-9">
                        <input id="address" ng-model="user.address" ng-disabled="numcart==0" class="form-control" type="text" placeholder="Địa chỉ" required>
                        <span id="address_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="txtPhone">Số điện thoại:</label>
                    <div class="col-md-9">
                        <input id="phone" ng-model="user.phone" ng-disabled="numcart==0" class="form-control" type="tel" placeholder="Số điện thoại" required>
                        <span id="phone_err"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <button ng-model="button" class="btn" ng-click="myform.$valid && addCartToFirebase()" ng-disabled="numcart==0">Xác nhận</button>
                    </div>
                </div>
              </form>               
            </div>
           </div>                    
        </div>
    </div>
    <hr />
</div>
<br>