   <div class="container text-center">
    <h1>CHI TIẾT</h1>
    <br>
    <hr />
    <div class="row container" ng-repeat="item in data">
     
       <div class="col-xs-12 col-sm-3 col-md-3 col-md-push-1 hidden-small-img">
          <div class="row">
              <img src="imgs/product/{{item.img1}}"  alt="" class="img-responsive img-small-detail">
          </div>
          <div class="row img-small-div">
              <img src="imgs/product/{{item.img2}}" alt="" class="img-responsive img-small-detail">
          </div>            
       </div>       
       <div class="col-xs-12 col-sm-4 col-md-4 large-img-div" >
           <img src="imgs/product/{{item.img1}}" alt="" class="img-responsive img-detail">           
       </div>          
        <div class="col-xs-12 col-sm-5 col-md-5 detail-content-div">
           <div class="detail-content">
              <p class="name-detail">{{item.name}}</p>
              <br/>
              <div class="col-xs-12 col-sm-12 col-md-12 price-cart">
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                      <p class="price-detail">${{item.price}}.00</p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                      <button class="button-add-to-cart" ng-click="addProductItem(item)">                         
                               <span class="ico-cart"><i class="fa fa-cart-plus "></i></span>
                               <span class="text-cart">THÊM VÀO GIỎ</span>                       
                       </button>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="line-detail"></div>
               <p class="pro-desc">Mô tả sản phẩm</p>
               <ul>
                   <li>Mã: {{item.code}}</li>
                   <li>Sản xuất: {{item.made}}</li>
                   <li>Kiểu: {{item.type}}</li>
               </ul>               
<!--
               <p class="pro-desc">Shipping và trả hàng</p>
               <p class="content-ship">
                   We ship anywhere in the U.S. and to over 55 international destinations.
Free Standard Shipping on orders $125+ placed online at Express.com for U.S. or Canada.
Simple Returns. Up to 90 days. Get the full details on Returns & Exchanges.
               </p>
-->
              </div>               
           </div>           
        </div>
<!--
        <div class="wow btn-add tada animated">
            <a style="cursor: pointer" ng-click="addProductItem(item)"><i class="fa fa-cart-plus ico-cart"></i></i></a>
        </div>
-->
    </div>
</div>
<br>